<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.web.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="com.order.web.pojo.Article">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="articleId" jdbcType="VARCHAR" property="articleid" />
    <result column="articleName" jdbcType="VARCHAR" property="articlename" />
    <result column="articleValue" jdbcType="VARCHAR" property="articlevalue" />
    <result column="articleImage" jdbcType="VARCHAR" property="articleimage" />
    <result column="articleAuthor" jdbcType="VARCHAR" property="articleauthor" />
    <result column="articleVistit" jdbcType="VARCHAR" property="articlevistit" />
  </resultMap>
  <insert id="insert" parameterType="com.order.web.pojo.Article">
    insert into article (id, articleId, articleName, 
      articleValue, articleImage, articleAuthor, 
      articleVistit)
    values (#{id,jdbcType=VARCHAR}, #{articleid,jdbcType=VARCHAR}, #{articlename,jdbcType=VARCHAR}, 
      #{articlevalue,jdbcType=VARCHAR}, #{articleimage,jdbcType=VARCHAR}, #{articleauthor,jdbcType=VARCHAR}, 
      #{articlevistit,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.order.web.pojo.Article">
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="articleid != null">
        articleId,
      </if>
      <if test="articlename != null">
        articleName,
      </if>
      <if test="articlevalue != null">
        articleValue,
      </if>
      <if test="articleimage != null">
        articleImage,
      </if>
      <if test="articleauthor != null">
        articleAuthor,
      </if>
      <if test="articlevistit != null">
        articleVistit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="articleid != null">
        #{articleid,jdbcType=VARCHAR},
      </if>
      <if test="articlename != null">
        #{articlename,jdbcType=VARCHAR},
      </if>
      <if test="articlevalue != null">
        #{articlevalue,jdbcType=VARCHAR},
      </if>
      <if test="articleimage != null">
        #{articleimage,jdbcType=VARCHAR},
      </if>
      <if test="articleauthor != null">
        #{articleauthor,jdbcType=VARCHAR},
      </if>
      <if test="articlevistit != null">
        #{articlevistit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>